<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Xtremefit</title>
        <style>
            datalist {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                writing-mode: sideways-lr;
                width: 300px;
            }
            option {
                padding: 0;
            }
            input[type="range"] {
                width: 300px;
                margin: 0;
            }
            body {
                font-family: Arial, sans-serif;
                text-align: center;
                background-color: white;
                margin: 0;
                padding: 0;
            }
            h1 {
                color: black;
            }
            #preferences-form {
                background-color: #fff;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                margin: 20px auto;
                width: fit-content;
            }
            .form-group {
                margin-bottom: 15px;
            }
            label {
                display: block;
                font-weight: bold;
            }
            input[type="number"],
            input[type="range"] {
                width: 100%;
                padding: 5px;
                border: 1px solid #ccc;
                border-radius: 3px;
            }
            button {
                background-color: #007bff;
                color: #fff;
                padding: 10px 20px;
                border: none;
                border-radius: 3px;
                cursor: pointer;
            }
            button:hover {
                background-color: #0056b3;
            }
            .result {
                background-color: #fff;
                padding: 20px;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                margin: 20px auto;
                width: 300px;
                justify-items: center;
                align-items: center;
                align-content: center;
                justify-content: center;
            }
            ul {
                list-style: none;
            }
        </style>
    </head>
    <body>
        <form id="preferences-form">
            <div class="form-group">
                <label>Muskelgrupper:</label>
                <label>
                    <input
                        type="checkbox"
                        name="muskelgrupper"
                        value="Bröst"
                    /> Bröst</label
                >
                <label
                    ><input type="checkbox" name="muskelgrupper" value="Rygg" />
                    Rygg</label>
                <label
                    ><input
                        type="checkbox"
                        name="muskelgrupper"
                        value="Biceps"
                    /> Biceps</label>
                <label>
                    <input
                        type="checkbox"
                        name="muskelgrupper"
                        value="Triceps"
                    /> Triceps</label>
                <label>
                    <input
                        type="checkbox"
                        name="muskelgrupper"
                        value="Axlar"
                    /> Axlar</label
                >
                <label
                    ><input type="checkbox" name="muskelgrupper" value="Abs" />
                    Abs</label
                >
                <label
                    ><input type="checkbox" name="muskelgrupper" value="Ben" />
                    Ben</label
                >
            </div>
            <div class="form-group">
                <label for="tid">Tillgänglig tid:</label>
                <select name="tid" id="tid">
                    <option value="> 30">Mycket kort tid</option>
                    <option value="30">30 mins</option>
                    <option value="45">45 mins</option>
                    <option value="60">60 mins</option>
                    <option value="75">75 mins</option>
                    <option value="90">90 mins</option>
                </select>
            </div>
            <div class="form-group">
                <label for="training-goal">Träningsmål:</label>
                <select id="training-goal" name="training-goal">
                    <option value="strength">Styrka</option>
                    <option value="hypertrophy">Hypertrofi</option>
                    <option value="endurance">Uthållighet</option>
                </select>
            </div>
            <div class="form-group">
                <label for="intensitet">Önskad intensitet:</label>
                <input
                    type="range"
                    name="intensitet"
                    id="intensitet"
                    step="50"
                    list="nivå"
                />
                <datalist id="nivå">
                    <option value="0" label="Låg" class="bar"></option>
                    <option value="50" label="Medel" class="bar1"></option>
                    <option value="100" label="Hög"></option>
                </datalist>
            </div>
            <button type="button" id="generate-button"
                >Generera träningsprogram</button
            >
        </form>
        <div id="träningsprogram" class="result">
            <ul id="träningsprogram-list"></ul>
        </div>
        
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                const form = document.getElementById("preferences-form");
                const generateButton =
                    document.getElementById("generate-button");
                const exercisesSelect = document.querySelectorAll(
                    'input[name="muskelgrupper"]',
                );
                const tidSelect = document.getElementById("tid");
                const intensityValue = document.getElementById("intensitet");
                const exercisesDatabase = {
                    Bröst: ["Benchpress", "Chest Flyes", "Incline Benchpress"],
                    Rygg: ["Lat Pulldown", "Pull-ups", "Rows"],
                    Biceps: [
                        "Incline Dumbbell Curls",
                        "Hammer Curls",
                        "Preacher Curls",
                    ],
                    Triceps: [
                        "Dips",
                        "Overhead Extensions",
                        "Triceps Pushdown(Rope)",
                    ],
                    Axlar: [
                        "Overhead Press",
                        "Cable Lateral Raises",
                        "Face Pulls",
                    ],
                    Abs: ["Sit ups", "Leg raises", "Russian Twist"],
                    Ben: ["Squat", "Romanian Deadlift", "Standing Calf Raises"],
                };
                generateButton.addEventListener("click", function () {
                    const selectedMuscleGroups = [...exercisesSelect]
                        .filter((checkbox) => checkbox.checked)
                        .map((checkbox) => checkbox.value);
                    const tid = form.tid.value;
                    const intensitetValue = form.intensitet.value;
                    const intensitet = getIntensityLabel(intensitetValue);
                    const trainingGoal = form["training-goal"].value;
                    const selectedExercises = selectedMuscleGroups.flatMap(
                        (muskelgrupp) => exercisesDatabase[muskelgrupp],
                    );
                    const träningsprogram = generateTrainingProgram(
                        selectedMuscleGroups,
                        tid,
                        intensitet,
                        selectedExercises,
                        trainingGoal,
                    );
                    displayTrainingProgram(träningsprogram);
                    intensityValue.textContent = intensitet;
                });
                function getIntensityLabel(intensitetValue) {
                    if (intensitetValue == 0) {
                        return "Låg: 30-40% ansträngning";
                    } else if (intensitetValue == 50) {
                        return "Medel: 50-70% ansträngning";
                    } else if (intensitetValue == 100) {
                        return "Hög: 80-90% ansträngning";
                    } else {
                        return "Okänd";
                    }
                }
                function generateTrainingProgram(
                    selectedMuscleGroups,
                    tid,
                    intensitet,
                    selectedExercises,
                    trainingGoal,
                ) {
                    let program = `Ditt träningsprogram:\nMuskelgrupper: ${selectedMuscleGroups.join(
                        ", ",
                    )}\nTräningstid: ${tid} minuter\nÖnskad intensitet: ${intensitet}\nTräningsmål: ${trainingGoal}\n\n`;
                    if (selectedExercises.length > 0) {
                        program += "Övningar:\n";
                        selectedExercises.forEach((exercise, index) => {
                            const setsReps = getSetsReps(
                                trainingGoal,
                                intensitet,
                            );
                            program += `${
                                index + 1
                            }. ${exercise} - ${setsReps}\n`;
                        });
                    }
                    return program;
                }
                function getSetsReps(trainingGoal, intensity) {
                    let sets, reps;
                    if (trainingGoal === "strength") {
                        if (intensity === "Låg: 30-40% ansträngning") {
                            sets = 4
                            reps = 5
                        }
                        if (intensity === "Medel: 50-70% ansträngning") {
                            sets = 5
                            reps = 5
                        }
                        if (intensity === "Hög: 80-90% ansträngning") {
                            sets = 6
                            reps = 5
                        }
                    } else if (trainingGoal === "hypertrophy") {
                        if (intensity === "Låg: 30-40% ansträngning") {
                            sets = 2
                            reps = 8
                        }
                        if (intensity === "Medel: 50-70% ansträngning") {
                            sets = 3
                            reps = 10
                        }
                        if (intensity === "Hög: 80-90% ansträngning") {
                            sets = 4
                            reps = 12
                        }
                    } else if (trainingGoal === "endurance") {
                        if (intensity === "Låg: 30-40% ansträngning") {
                            sets = 3
                            reps = 15
                        }
                        if (intensity === "Medel: 50-70% ansträngning") {
                            sets = 3
                            reps = 18
                        }
                        if (intensity === "Hög: 80-90% ansträngning") {
                            sets = 3
                            reps = 20
                        }
                    } else {
                        sets = reps = "Okänt";
                    }
                    return `${sets} set x ${reps} reps`;
                }
                function getRandomNumber(min, max) {
                    return Math.floor(Math.random() * (max - min + 1)) + min;
                }
                function displayTrainingProgram(träningsprogram) {
                    const programList = document.getElementById(
                        "träningsprogram-list",
                    );
                    if (träningsprogram) {
                        programList.innerHTML = "";
                        träningsprogram.split("\n").forEach((item) => {
                            const listItem = document.createElement("li");
                            listItem.textContent = item;
                            programList.appendChild(listItem);
                        });
                    }
                }
            });
        </script>

<style>
    #tid{
        border: 1px solid #b6b4b4;
        border-radius: 5px;
    }

    #training-goal{
        border: 1px solid #b6b4b4;
        border-radius: 5px;
    }
</style>
    </body>
</html>